<div class="grid-container">
    <div class="grid-element sidebar">
        <div> Group 1 </div>
        <div> - Channel A </div>
        <div> - Channel E </div>
        <div> Group 2 </div>
        <div> - Channel ^ </div>
        <div> - Channel & </div>
        <div> - Channel @ </div>
    </div>
    <div class="grid-element main">
        <div style="text-align:left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et arcu ante. Cras pulvinar cursus risus, sed scelerisque libero viverra euismod. Cras nec euismod lorem. Praesent et varius enim. Integer sit amet nunc lorem.</div>
        <div>_</div>
        <div style="text-align:right">Aliquam ut posuere lorem. Vivamus faucibus sem ac gravida cursus. Praesent vel sodales libero. Integer molestie est id dignissim varius. Proin eget sagittis tellus, quis eleifend ligula.</div>
        <div>_</div>
        <div style="text-align:left">Nullam ipsum diam, malesuada ut congue quis, maximus quis metus. Nullam vel ultrices tortor, at posuere tortor. Morbi sagittis ex at enim laoreet aliquam. Maecenas placerat magna non ex mattis ornare.</div>
        <div>_</div>
        <div style="text-align:left">Aenean ultricies ligula at nunc interdum, ac accumsan nulla pulvinar. Donec maximus, tellus eu vehicula aliquam, massa sem semper lectus, vitae lacinia eros est id ligula.</div>
    </div>
    <div class="grid-element chat">
        <div class="input-field">
            <input placeholder="Type here to Chat" type="text" class="validate">
        </div>
    </div>
</div>