nav#navbar{ 
    background-image:url("https://c.wallhere.com/photos/05/14/Houseki_no_kuni_Lapis_Lazuli_Houseki_no_Kuni_simple_background-1224136.jpg!d"); 
    background-repeat:no-repeat; 
    background-position:top; 
    background-size:cover; 
    padding:10px;}